.contactList {
  padding-left: 0;
  margin-left: 35px;
}

.listItem {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listButton {
  margin-left: 20px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: royalblue;
  transition: background-color 300ms linear, color 300ms linear;
}

.listButton:hover {
  color: blue;
  background-color: azure;
  transition: background-color 300ms linear, color 300ms linear;
}
